# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# secretes
secrets.toml

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# My test files
tests_login.yaml
tests.py
todo_list.py
app_login.yaml